* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-height: 100vh;
  background-color: #fef3ed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  position: relative;
}

.title {
  color: #073c3d;
  font-weight: bold;
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .links button {
  background-color: transparent;
  color: #073c3d;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.call {
  background-color: #fdfffd;
  color: #073c3d;
  border: 1px solid #073c3d;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

hr {
  height: 1px;
  width: 95%;
  background-color: rgba(228, 228, 228, 0.925);
  border: none;
  margin-left: 2.5%;
}

.header {
  color: #073c3d;
  font-size: 3.5rem;
  width: 50rem;
  text-align: center;
}

#content {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#content .home-img {
  width: 70rem;
  height: 30rem;
}

.images-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  gap: 1rem;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 25rem;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  color: white;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.image-wrapper:hover .caption {
  opacity: 1;
}

.book-now-btn {
  background-color: #fd7e14; /* orange-ish */
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: #e36b0a;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contacts-div {
  display: flex;
  gap: 10rem;
  text-align: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
